<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>View Product</h1>
    <table class="book-table">
      <tr>
        <th>Product Name</th>
        <th>Stock Quantity</th>
      </tr>
      <tr>
        <td><%= Product.ProductName %></td>
        <td><%=Product.StockQuantity %></td>
      </tr>
    </table>
    <div class="link-center">
      <a href="/update/<%= Product.id %>">Edit</a>
      <a href="/delete/<%= Product.id %>">Delete</a>
      <a href="/">Back to List</a>
    </div>
  </body>
</html>
