<!DOCTYPE html>
<html lang="en">
<head>
    <title>Company Details</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <nav>
    <ul class="nav-links">
        <li><a href="/viewCompanies">View Companies</a></li>
        <li><a href="/addCompany">Add Company</a></li>
        <li><a href="/editCompany">Edit Company</a></li>
        <li><a href="/deleteCompany">Delete Company</a></li>
        <li><a href="/viewProducts">View Products</a></li>
        <li><a href="/addProduct">Add Product</a></li>
        <li><a href="/editProduct">Edit Product</a></li>
        <li><a href="/deleteProduct">Delete Product</a></li>
    </ul>
</nav>

    <h1>Company Details</h1>
    <table class="company-table">
        <tr>
            <th>Company Name</th>
            <th>Company Stock</th>
            <th>Product Name</th>
        </tr>
        <% for(var i=0; i < companies.length; i++) { %>
            <tr>
                <td><%= companies[i].CompanyName %></td>
                <td><%= companies[i].CompanyStock %></td>
                <td><%= companies[i].Product.Name %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>