<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Company Details</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Company Details</h1>
    <table class="company-table">
      <tr>
        <th>Company Name</th>
        <th>Company Stock</th>
        <th>Product Name</th>
      </tr>
      <% for(var i=0; i < companies.length; i++) { %>
      <tr>
        <td><%= companies[i].CompanyName %></td>
        <td><%= companies[i].CompanyQuantity %></td> 
        <td><%= companies[i].Product ? companies[i].ProductName : 'N/A' %></td>
          <% } %>
      </tr>
      <nav>
    </table>
    <ul class="nav-links">
        <li><a href="/companies">View Companies</a></li>
        <li><a href="/companies/create">Add Company</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/products/Add">Add Product</a></li>
      </ul>
    </nav>
  </body>
</html>
