<!DOCTYPE html>
<html>
<head>
  <title>Edit Company</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Edit Company</h1>
  <form action="/companies/<%= companies.CompanyID %>" method="POST">
    <label for="CompanyName">Company Name:</label>
    <input type="text" id="CompanyName" name="CompanyName" value="<%= companies.CompanyName %>" required><br>
    <button type="submit">Save Changes</button>
  </form>
</body>
</html>
