<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Management</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Product Management</h1>

    <h2>Product List</h2>
    <table class="company-table">
        <tr>
            <th>Product ID</th>
            <th>ProductName</th>
            <th>Actions</th>
          </tr>
          <tr>
                <% products.forEach(product => { %>
                        <li>
                            <tr><td><span><%= product.ProductID %></span></td>
                                <td><span><%= product.ProductName %></span>
                            <td> <a href="/products/edit/<%= product.ProductID %>">Edit</a>
                           <a href="/products/delete/<%= product.ProductID %>">Delete</a></td>
                        </li>
                <% }); %>
        </tr>
    </tr>
    </table>
    <a href="/products/Add">Add New Product</a>
    <a href="/">Back to Warehouse</a>
</body>
</html>